body {
    font-family: 'Arial', sans-serif;
    background-color: #1a2530;
    color: #F5F5F5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
}

.register-header {
    text-align: center;
}

.register-header h2 {
    font-size: 24px;
    margin: 0;
}

.register-header p {
    font-size: 17px;
    color: #707B81;
    margin: 5px 0 15px;
}

.register-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-form label {
    font-size: 16px;
    margin-bottom: 8px;
}

.register-form input {
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: #161F28;
    color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 17px;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.toggle-password {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-70%);
    font-size: 20px;
    color: #9A9A9A;
    cursor: pointer;
}

.toggle-password:hover {
    color: white;
}

.register-button {
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 50px;
    background-color: #5B9EE1;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #2E68D2;
}

.signin-link {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.signin-link a {
    color: #377DFF;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}

.linkSignin{
    position: absolute;
    right: 100px;
    bottom: 50px;
}
